.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content {
  flex: 1;
}

.Toastify__toast-container--bottom-left {
  position: fixed;
}

@media (max-width: 1025px) {
  .main-content {
    margin-left: 0;
  }
}
